{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>tech blog</h1>
<p>latest article about IT department</p>

<h2>our latest post</h2>
{% if posts %}
    <article>
        {% for post in posts %}
            <h3>{{ post.title }}</h3>
        {% endfor %}
    </article>
{% endif %}



{% endblock %}
